<div class="row top-buffer">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                The Countries and capitals application, allows you to view a list of countries and additional information that pertains to the country.  This application was built and produced in...
            </p>
        </div>
    </div>
     <div class="row">
         <div class="col-md-8 col-md-offset-4">
             <img src="http://www.geonames.org/img/country/250/AU.png">
         </div>
     </div>
</div>
<div class="row top-buffer">
    <div class="col-md-7 col-md-offset-5">
        <a href="#/countries" class="btn btn-default">Browse Countries</a>
    </div>
</div>